.accent {
  padding-top: 54px;
  padding-bottom: 72px;
  background: linear-gradient(
    130deg,
    rgba(150, 221, 215, 1) 0%,
    rgba(128, 163, 190, 1) 85%,
    rgba(128, 163, 190, 1) 100%
  );
}
