.formcomplete {
  display: none;
}

.formcomplete_big {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
  color: #fff;
}
.formcomplete_modal {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
}
