.modal-form {
  .button {
    width: 100%;
  }
}

.modal-form__input {
  margin-bottom: 10px;
  .input-text {
    width: 100%;
  }
}

.modal-form__header {
  font-family: $font-b;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.modal-form__comment {
  text-align: center;
  font-weight: 200;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
