.slide-pagin {
  width: 20px;
  height: 1px;
  background-color: #000000;
  margin-right: 9px;
  margin-left: 0;
  transition: background-color 0.5s, width 0.5s;
}

.slick-active {
  .slide-pagin {
    width: 60px;
    background-color: $color-b;
  }
}
