.social {
  margin-top: 66px;
  text-align: center;
  .scriptum {
    margin: 15px;
  }
}

.social__list {
  a {
    margin-right: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    width: 27px;
    height: 27px;
  }
}
