.textarea {
  outline: 0;
  font-weight: 200;
  color: #252324;
  font-size: 0.875rem;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  transition: box-shadow 0.5s, opacity 0.5s;
  border: 1px solid #dfdfdf;
  width: 100%;
  max-width: 100%;
  &:disabled {
    opacity: 0.3;
  }
}
