/**
  Контрольные точки
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xlm: 1500px,
  xxl: 1920px
) !default;

/**
  Часто используемые цвета
*/
$color-a: #78c9cc;
$color-b: #79ccd0;
$color-c: #8f8485;
$color-d: #252324;
$color-e: #443f40;

/* 
  Шрифты
*/
$font-a: "Montserrat", sans-serif;
$font-b: "Federo", sans-serif;
